<!-- Main container -->
<nav class="level">
    <!-- Left side -->
    <form action="/books/search" method="POST">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-5">
          <strong>Book App</strong> Search Engine
        </p>
      </div>
      <div class="level-item">
        <div class="field has-addons">
          <p class="control">
            <input class="input" name="search"  id="search"  type="text" placeholder="Find your books">
          </p>
          <p class="control">
            <button class="button" type="submit" >
              Search
            </button>
          </p>
        </div>
      </div>
    </div>
    </form>
  
  </nav>